<header class="site-header">
  <div class="logo-area">
    <img class="logo-img" src="iraf.jpeg" alt="Logo IRAF" />
    <div>
      <span class="logo-name">IRAF</span>
      <span class="logo-tagline">Institut de Recherches Agronomiques et Forestières</span>
    </div>
  </div>
  <nav>
    <a routerLink="/"             routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
    <a routerLink="/recherches"   routerLinkActive="active">Recherches</a>
    <a routerLink="/publications" routerLinkActive="active">Publications</a>
    <a routerLink="/equipe"       routerLinkActive="active">Équipe</a>
    <a routerLink="/contact"      routerLinkActive="active">Contact</a>
  </nav>
</header>
